<h1 style="text-align: center;">Autoplay Off</h1>
<div class="block">
  <hc-slider
    [withPriority]="false"
    [autoPlay]="false"
    [delay]="3000"
    [sliders]="sliders"
  ></hc-slider>
</div>
<h1 style="text-align: center; margin-top: 5rem;">Autoplay On without priority</h1>
<div class="block">
  <hc-slider
    [withPriority]="false"
    [autoPlay]="false"
    [delay]="3000"
    [sliders]="sliders"
  ></hc-slider>
</div>
<h1 style="text-align: center; margin-top: 5rem;">Autoplay On with priority</h1>
<div class="block">
  <hc-slider
    [withPriority]="true"
    [autoPlay]="true"
    [delay]="3000"
    [sliders]="sliders"
  ></hc-slider>
</div>
