.outside {
  .slider {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
    position: relative;

    .right{
      right: 15%;
    }

    .left{
      left: 15%;
    }

    .arrow {
      position: absolute;
      top: 45%;
      border-radius: 100%;
      background-color: #d6d6d6;
      padding: 1rem;
      cursor: pointer;
      color: #474646;
      align-items: center;


      &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
    }

    .imageControl {

      img {
        width: 800px;
        height: 500px;
        background-repeat: no-repeat;
        border-radius: 18px;
        border: 5px solid #ffffff;
      }
    }

    .dots {
      position: absolute;
      bottom: 5%;
      font-size: 100px;

    }
  }
}

.dot{
  opacity: .5;
  cursor: pointer;
  user-select: none;
}

.active {
  opacity: 1;
}
