<div class="outside">
  <div class="slider">
    <ng-container *ngIf="!propsAutoPlay">
      <div (click)="previousSlide()" style="margin-right: 1rem" class="arrow left">
        <i class="fi fi-sr-angle-small-left"></i>
      </div>
    </ng-container>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div class="imageControl">
        <img
          style="cursor: pointer"
          (click)="getUrlAddress()"
          src="{{ getCurrentSlideUrl() }}"
          alt="some title"
        />
      </div>
      <div class="dots">
        <ng-container
          *ngFor="
            let dot of propsWithPriority ? slidersWithPriority : propsSliders;
            let idx = index
          "
        >
          <span (click)="goToSlide(idx)" class="dot" [ngClass]="{ 'active': currentIndex === idx }"
            >.</span
          >
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="!propsAutoPlay">
      <div (click)="nextSlide()" style="margin-left: 1rem" class="arrow right">
        <i class="fi fi-sr-angle-small-right"></i>
      </div>
    </ng-container>
  </div>
</div>
